body {
    text-align: center;
    padding-top: 100px;
}

.button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

#productosTable {
    margin: 0 auto;
}

table#productoTable {
    margin: auto;
}

table#productoTable th,
table#productoTable td {
    text-align: center;
}